<table mat-table [dataSource]="templates" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"><a class="link-name" [routerLink]="['/','html-template', element.id]">{{element.name}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef> Modified</th>
        <td mat-cell *matCellDef="let element"> {{element.modified | date:'medium'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
