<div class="form-wrapper">
  <form [formGroup]="templateEditorForm" (ngSubmit)="saveTemplate()">
    <div>
      <mat-form-field>
        <input [formControlName]="'text'" matInput placeholder="Text" (blur)="checkControlErrors('text')">
      </mat-form-field>
    </div>
    <div *ngIf="(formErrors | async).text" class="d-block validation-error">
      {{(formErrors | async).text[0]}}
    </div>
    <div>
      <mat-form-field>
        <input [formControlName]="'fontSize'" matInput placeholder="Font size (px)" (blur)="checkControlErrors('fontSize')">
      </mat-form-field>
    </div>
    <div *ngIf="(formErrors | async)?.fontSize" class="d-block validation-error">
      {{(formErrors | async).fontSize[0]}}
    </div>
    <div class="d-block align-text-center">
      <button class="form-btn" mat-raised-button type="submit">Save</button>
      <button (click)="change.emit(null)" class="form-btn" mat-raised-button color="warn" type='button'>Cancel</button>
    </div>
  </form>
</div>
