<button mat-button color="primary" routerLink="..">Back</button>
<div *ngIf="isTemplateEditorOpened" [@fadeInOut]>
    <app-html-template-editor [element]="activeSelection" (change)="renderTemplate($event)"></app-html-template-editor>
</div>
<div class="template-wrapper" (click)="onSelectText($event)" [innerHtml]="activeTemplate" #template></div>